{% extends "layout_no_navi.html" %}
{% block content %}

<script type="text/javascript">
   const tableOfContents = []

   function addEvent(date,number){
        tableOfContents.push([new Date(date), number]);
   }
</script>

<div class="content-section" style="width: 1000px;">
    <h1>Calendar statistics page</h1>
    <p class="article-content">
        Visualization of events in time. If multiple events took place the same day, estimated sum of people from those events is being displayed.
    </p>

     {% for post in posts %}
      <script>addEvent('{{ post.date_posted.strftime('%Y, %m, %d') }}', {{post.number_of_people}});</script>
     {% endfor %}

    <div id="calendar_basic" style="width: 1000px; height: 500px;"></div>
</div>

<script type="text/javascript">
   google.charts.load("current", {packages:["calendar"]});
   google.charts.setOnLoadCallback(drawChart);

   function drawChart(data) {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addRows(tableOfContents);
       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "Most Crowded Days",
         height: 500,
       };

       chart.draw(dataTable, options);
   }
</script>

{% endblock content %}
