{% extends "layout_no_navi.html" %}
{% block content %}

<style>
div.solid {
    border: thick solid rgb(3, 252, 240);
}

.center {
  text-align: center;
}
</style>

<div class="solid" id="map" style="height: 800px; width:1100px;"></div>

<script type="text/javascript">
  var map = L.map('map').setView([52.237, 21.017], 11);
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
  });
  map.addLayer(layer);

  var markers = new L.MarkerClusterGroup({
    iconCreateFunction: function(cluster)
    {
        var children = cluster.getAllChildMarkers();
        var sum = 0;
        for (var i = 0; i < children.length; i++)
        {
            sum += children[i].num;
        }

        var html = '<div class="circle">' + sum + '</div>';
        return L.divIcon({ html: html, className: 'mycircle', iconSize: L.point(45, 45) });
    },
    spiderfyOnMaxZoom: false, showCoverageOnHover: false, zoomToBoundsOnClick: false
});
</script>

<script>
    function addMarker(lat,lon,num,title,picture){
        picture = '../static/post_imgs/'+picture
        var photoImg = '<div class="center"><img src='+picture+' height="150px" width="200px"/><p>'+title+'</p><p> People count: '+num+'</p></div>';
        var marker = L.marker([lat,lon]);
        marker.num = num;
        marker.lat = lat;
        marker.lon = lon;
        markers.addLayer(marker);
        marker.bindPopup(photoImg);
    }
</script>

 {% for post in posts %}
      <script>addMarker({{post.latitude}}, {{post.longitude}}, {{post.number_of_people}}, '{{post.title}}', '{{post.image_file}}');</script>
 {% endfor %}

<script>
  map.addLayer(markers);
</script>

{% endblock content %}