{% extends "layout.html" %}
{% block content %}

<style>
select {
  width: 200px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
</style>

<script>
    const tableOfData = []

    function addData(num){
        tableOfData.push(num);
    }
</script>

<div class="content-section">
    <div style="width: 100%; display: table;">
        <div style="display: table-row">
            <div style="width: 370px; display: table-cell;"><h1>Other statistics page</h1></div>
            <div style="display: table-cell;">
                <form action="" method="post">
                    <select name="placeSelector" method="POST" action="/">
                        <option value="all places" SELECTED>all places</option>"
                        {% for place in places %}
                            {%if place == selectedPlace%}
                                <option value="{{place}}" SELECTED>{{place}}</option>"
                            {% else %}
                                <option value="{{place}}">{{place}}</option>"
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary" name="submit" value="place">Go Go Go!</button>
                </form>
          </div>
        </div>
    </div>
    <p class="article-content">
        Other statistics for web service
    </p>
    <canvas id="myChart" width="400" height="300"></canvas>

    {% for data in dataset %}
      <script>addData({{data}});</script>
    {% endfor %}

</div>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Mon', 'Tue', 'Wen', 'Thu', 'Fri', 'Sat', 'Sun'],
        datasets: [{
            label: 'Most crowded day',
            data: tableOfData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

{% endblock content %}
