bcrypt
blinker
certifi
cffi
click
Flask~=2.0.1
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
MarkupSafe
Pillow~=8.3.1
pycparser
six
SQLAlchemy
Werkzeug
WTForms~=2.3.3
email_validator
torch~=1.9.0
torchvision~=0.10.0
detectron2~=0.5+cu101